/* 
  bg - background
  fg - foreground
  br - border
*/

/* Main Colors */

@define-color main-fg         #cdd6f4;
@define-color main-bg         rgba(12, 12, 22, 0.08);
@define-color main-br         #cdd6f4;

/* @define-color tooltip-bg      rgba(16, 22, 49, 0.9); */
@define-color tooltip-bg      rgba(16, 16, 16, 0.86);

@define-color module-bg       rgba(13, 20, 46, 0);

@define-color active-bg       rgba(141, 152, 195, 0.8);
@define-color active-fg       #11111b;

@define-color hover-bg        #313244;
@define-color hover-fg        rgba(205, 214, 244, 0.75);

@define-color white           #ffffff;
@define-color black           #000000;

/* Module Colors */

@define-color module-fg       #f5e0dc;
@define-color workspaces      #181825;

@define-color cpuinfo         #181825;
@define-color memory          #1e1e2e;
@define-color cpu             #313244;
@define-color distro-fg       #000000;
@define-color distro-bg       #9399b2;
@define-color time            #313244;
@define-color date            #1e1e2e;
@define-color tray            #181825;

@define-color pulseaudio      #181825;
@define-color backlight       #1e1e2e;
@define-color battery         #313244;
@define-color power           #9399b2;

/* State Colors */

@define-color good            #f5e0dc;
@define-color warning         #f9e2af;
@define-color critical        #ffe3ab;
@define-color full            #a6e3a1;
@define-color charging        #cdd6f4;
